.footer {
    padding-top: 10px;
    padding-bottom: 100px;
    display: grid;
    justify-content: center;
}

.footer ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 25px;
}

.footer a {
    color: aliceblue !important;
}

.footer li {
    margin: 0px 20px 0px 20px;
}